{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-10 heading-section text-center ftco-animate">
					<span class="subheading">Наш блог</span>
					<h2 class="mb-4">Последнее</h2>
				</div>
			</div>
			<div class="row d-flex">
				{% for b in blog %}
				<div class="col-lg-4 ftco-animate">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20" style="background-image: url({{ b.img.url }});">
						</a>
						<div class="text d-block">
							<div class="meta">
								<p>
									<a href="#"><span class="fa fa-calendar mr-2"></span>{{ b.date }}</a>
									<a href="#"><span class="fa fa-user mr-2"></span>{{ b.author }}</a>
								</p>
							</div>
							<h3 class="heading"><a href="#">{{ b.short_description }}</a></h3>
							<p><a href="{% url 'blog_single' b.id %}" class="btn btn-secondary py-2 px-3">Посмотреть</a></p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock content %}